@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:500 700&display=swap');

/*----------------sets default margins and padding for all page content to */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*----------------------------- Nav-bar, logo, main headings and footer for all pages*/
/*---------------Navigation Bar */
#nav-bar{
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: 400;

}

.nav-btn{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

.book-tbl{
    margin-left: 5px;
    border: 2px solid white;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

/*---------------Logo */
#logo{
    float: left;
    font-size: 35px;
    font-family: 'Do Hyeon', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    font-weight: 400;
}

/*---------------Footer */
footer {
    margin-top: 15px;
    height: 150px;
    background-color: rgb(12, 1, 1);
    color: white;
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.footer_contact{
    text-align: center;
    font-weight: 600;
    padding-top: 30px;
    line-height: 60px;
    font-size: 90%;
    }

.footer_contact h2{
    line-height: 30px;
}

/*---------------Main Headings and social media icons */
.about h2, #menu h2, .social-media, #find-us h2, #contact-form h2{
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    color: rgb(75, 51, 51);
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(209, 178, 178)
}


/*----------------------------- Home Page, index.html*/
/*---------------Hero Image*/
#hero-image{
    background-image: url("images/munch-med-hero.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}

/*---------------Slogan and Book Now button*/
.slogan{
    text-align: center;
    padding-top: 190px;
}

.slogan h3{ 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-size: 70px;
    text-shadow: 2px 2px 3px rgb(245, 224, 224);
    font-family: 'Do Hyeon', sans-serif;
}

.book-now{
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgba(245, 224, 224, 0.5);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
}

/*---------------About (our story) information*/

.about, #menu {
    text-align: center;
}


.border {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1.5px solid black;  
}

.about p{
    padding: 20px;
    font-family: 'Gothic A1', sans-serif;
    line-height: 25px;
    font-size: 18px;
}

.find-us{
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgba(75, 51, 51, 0.5);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 15px;
}

#menu img {
    padding-top: 30px;
    width: 80%;
    height: auto;
}

/*---------------Social-media icons*/
.social-media {
    padding-bottom: 10px;
    text-align: center;
}

.social-media a{
    color: rgb(75, 51, 51);
}


/*----------------------------- Contact Page, contact.html*/
/*--------------- nav-bar background*/
#background-color {
    background-color: rgb(12, 1, 1);
    height: 80px;
}

/*--------------- section alignment*/
#find-us, #contact-form{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*--------------- 2 column layout for google-locations and contact-detail*/
.row{
    display: flex;
    padding-top: 30px;
}

.column{
    flex: 50%;
}

/*---------------google-maps sizing and boarder*/

#google-location{
    height: 300px;
    width: 300px;
    border: 1.5px solid black; 
}

/*---------------contact-detail styling*/
#contact-details{
    line-height: 30px;
    text-align: left;
    padding-left: 10%;
    font-family: 'Gothic A1', sans-serif;  
    padding-top: 5%;
}

#contact-details p{
    padding-left: 50px;
}

/*---------------contact form */
.get-in-touch input[type=text],  textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
    margin-bottom: 1%;
    resize: vertical; 
    font-family: 'Gothic A1', sans-serif;
}

input#fname{
    width: 99%;
    float: left;
    margin-bottom: 1%;
}

input#lname {
    width: 99%;
    float: right;
}

.get-in-touch input[type=submit]{
    font-family: 'Gothic A1', sans-serif;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgba(75, 51, 51, 0.5);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 15px;
}