@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1&display=swap');

/*----------------sets default margins and padding for all page content to */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------Hero Image*/
#hero-image{
    background-image: url("images/munch-med-hero.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}

/*---------------Navigation Bar */
#nav-bar{
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: 400;

}

.nav-btn{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

/*---------------Logo */
#logo{
    float: left;
    font-size: 35px;
    font-family: 'Do Hyeon', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    font-weight: 400;
}

/*---------------Slogan and Book Now button*/
.slogan{
    text-align: center;
    color: white;
    padding-top: 180px;
    text-transform: uppercase;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    text-shadow: 2px 2px 3px rgb(245, 224, 224);

}