@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1&display=swap');

/*----------------sets default margins and padding for all page content to */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------Hero Image*/
#hero-image{
    background-image: url("images/munch-med-hero.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}

/*---------------Navigation Bar */
#nav-bar{
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: 400;

}

.nav-btn{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

.book-tbl{
    margin-left: 5px;
    border: 2px solid white;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

/*---------------Logo */
#logo{
    float: left;
    font-size: 35px;
    font-family: 'Do Hyeon', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    font-weight: 400;
}

/*---------------Slogan and Book Now button*/
.slogan{
    text-align: center;
    padding-top: 190px;
}

.slogan h3{ 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-size: 70px;
    text-shadow: 2px 2px 3px rgb(245, 224, 224);
    font-family: 'Do Hyeon', sans-serif;
}

.book-now{
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgba(245, 224, 224, 0.5);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
}

/*---------------About (our story) information*/

.about{
    text-align: center;
}
.about h2{
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    color: rgb(75, 51, 51);
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(209, 178, 178)
}